@mixin flexCenter($direction) {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: $direction;
}

@mixin toggleTransition {
  transition: all 0.5s ease-in;
}

.menuToggle {
  cursor: pointer;
  position: fixed;
  right: 20px;
  width: 100px;
  height: 100px;
  top: 12.5px;
  @include flexCenter(row);
  z-index: 99;
  @media screen and (max-width: 800px) {
    width: 50px;
    height: 50px;
  }
  .toggleButton {
    width: 50px;
    height: 21px;

    position: relative;
    div {
      width: 50px;
      height: 3px;

      background-color: white;
      @include toggleTransition();
    }

    .line2 {
      margin: 6px 0;
    }
  }

  &:hover {
    .toggleButton {
      div {
        background-color: rgb(9, 134, 43);
      }
    }
  }
}

.toggleOn {
  .line2 {
    background-color: white !important;
  }
  .line1 {
    transform: translate(0, 9px);
    background-color: white !important;
  }
  .line3 {
    transform: translate(0, -9px);
    background-color: white !important;
  }
}
